DATABASE_URL=postgresql://user:password@localhost:5432/portfolio
PORT=4000
CORS_ORIGIN=http://localhost:3000
FRONTEND_URL=http://localhost:3000

REFRESH_TOKEN_EXPIRY=10d
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=1d
ACCESS_TOKEN_SECRET=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:4000/api/v1/user/github/callback
